

section{
    display: flex;
background-color: rgb(151, 94, 18);
align-items: center;
width: 100%;

}

.logo{
    padding: 2%;
}

ul{
    display: flex;
    gap: 20px;
    
}

li{
    list-style: none;
    
}

nav{
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1%;
}