:host{
    height: 100vh;
}




#imagem__De__Fundo__Carro{
    background-image: url('/teste.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100vw; 
    height: 100vh; 
}