
<section class="formSection">
<form #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
    <label for="usuario"></label>
    <input required #usuario="ngModel" name="usuario" id="usuario" type="text" placeholder="usuario" ngModel >
    <span class="error" *ngIf="usuario.invalid && usuario.touched">*</span>

    <label for="senha"></label>
    <input required #senha="ngModel" minlength="5" maxlength="15" name="senha" id="senha" type="password" placeholder="senha" ngModel >
    <span class="error" *ngIf="senha.invalid && senha.touched">*</span>
    

    <button [disabled]="loginForm.invalid">login</button>
</form>

</section>
