<div class="container w-100 d-flex flex-column align-items-center gap-2  text-light p-3 rounded">
    

  <div class="input-group w-100 d-flex justify-content-center">
      <div class="w-75">
          <input id="inputPesquisa" type="text" [formControl]="pesquisaControl" class="form-control font-center w-100 bg-secondary text-light" placeholder="Pesquisa do código do veículo">
      </div>
  </div>

  
  <div *ngIf="mensagemDeErro" class="p-2 w-25 alert alert-danger text-center border-warning">
      <p class="mb-0">{{ mensagemDeErro }}</p>
  </div>

  
  <div *ngIf="dataList" class="d-flex align-items-center justify-content-center">
      <table class="table table-bordered table-responsive ">
          <thead class="table-dark text-warning">
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Odômetro</th>
                  <th scope="col">Nível Combustível</th>
                  <th scope="col">Status</th>
                  <th scope="col">Latitude</th>
                  <th scope="col">Longitude</th>
              </tr>
          </thead>
          <tbody class="table-secundary text-light">
              <tr *ngFor="let item of dataList">
                  <td>{{ item['id'] }}</td>
                  <td>{{ item['odometro'] }}</td>
                  <td>{{ item['nivelCombustivel'] }}</td>
                  <td>{{ item['status'] }}</td>
                  <td>{{ item['lat'] }}</td>
                  <td>{{ item['long'] }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
