:host{
    display: flex;
    flex: 1;
}

#imagem__De__Fundo__Dashboard {
    background-image: url('/teste.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100vw; 
    height: 100vh; 
}


#cor{
    background-color:  #FFA500;
}