


<section class="container-fluid p-0 d-flex justify-content-center align-items-center">
    <div>
    <select class="form-select form-select-lg mb-3" name="selectDashboard" id="DashboardSelect"  [(ngModel)]="carSelect" (change)="carroSelecionado()" >
        <option value="0" disabled selected>Selecione uma opção</option>
        <option value="0">carro1</option>
        <option value="1">carro2</option>
        <option value="2">carro3</option>
        <option value="3">carro4</option>
    </select>
</div>
<div class="d-flex flex-column align-items-center">
    <p class="fs-1" *ngIf="carros">{{carros![selecionado].id}}</p>
    <p class="fs-1" *ngIf="carros">{{carros![selecionado].vehicle}}</p>
    <p class="fs-1" *ngIf="carros">{{carros![selecionado].connected}}</p>
    <p class="fs-1" *ngIf="carros">{{carros![selecionado].softwareUpdates}}</p>
    <img class="img-fluid w-100" alt="Responsive image" *ngIf="carros" [src]="carros![selecionado].img" >
</div>
</section>



<div>
    <app-pesquisa></app-pesquisa>
</div>



<app-barra-lateral class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"></app-barra-lateral>

