











<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
  <i class="bi bi-list"></i>
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/home"><i class="bi bi-house-fill"></i>Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dashboard"><i class="bi bi-speedometer2 "></i>Dashboard</a></li>

    </ul>
  </div>
</div>