

<div id="imagem__De__Fundo" class="w-100  d-flex  bg-dark text-light">
<app-barra-lateral class="p-1"></app-barra-lateral>
<div  class="align-items-center d-flex justify-content-center w-100">
  <div id="imagem__De__Fundo__Carro" class="w-100 h-100 d-flex">
<section  class="container-fluid  d-flex justify-content-center align-items-center">
    <div class="bg-dark w-50 h-75 opacity-75 p-5 rounded">
      <h1 class="text-primary text-center opacity-100">Seja Bem vindo(a) {{name?.usuario}}</h1>
     
      
    </div>

  </section>
</div>
</div>
</div>
  