
#imagem__De__Fundo{
    background-image: url('/teste.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100vw; 
    height: 100vh; 
}
:host{
    display: flex;
    flex: 1;
}


#imagem__De__Fundo__Carro{
    background-image: url('/ranger.png');background-repeat: no-repeat;
background-size: 100%;
background-position: center;
}